<h1>Please provide your information</h1>
<form>
  <div class="form-group">
    <label for="inputFirstName">First Name</label>
    <input
      type="firstName"
      class="form-control"
      id="inputFirstName"
      placeholder="Enter your first name"
    />
  </div>
  <div class="form-group">
    <label for="inputLastName">Last Name</label>
    <input
      type="lastName"
      class="form-control"
      id="inputLastName"
      placeholder="Enter your last name"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail"
      aria-describedby="emailHelp"
      placeholder="Enter your email address"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
  <div class="form-group">
    <label for="inputBirthDate">Date of Birth</label>
    <input
      type="birthDate"
      class="form-control"
      id="inputBirthDate"
      placeholder="Enter your date of birth"
    />
  </div>
  <div class="form-group">
    <label for="inputPhoneNumber">Phone Number</label>
    <input
      type="PhoneNumber"
      class="form-control"
      id="inputPhoneNumber"
      placeholder="Enter your phone number"
    />
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input
      type="Address"
      class="form-control"
      id="inputAddress"
      placeholder="Enter your address"
    />
  </div>
</form>
